<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
    <!--导航栏-->
    <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide "><i class="tags icon"></i>标签</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://i.picsum.photos/id/1005/100/100.jpg">
                            admin
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle icon black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a th:href="@{/admin/tags/input}" class="item">新增</a>
                <a th:href="@{/admin/tags}" class="active teal item">列表</a>
            </div>
        </div>
    </div>
<!--    中间-->
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">操作成功!</p>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="tag,iterStat : ${page.getContent()}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}">hdsahdsa</td>
                        <td>
                            <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div th:if="${page.getTotalPages()}>1" class="ui pagination menu">
                                <a th:href="@{/admin/tags(pageNum=${page.getPageNum()-1},pageSize=10)}" th:if="${page.getPageNum() != 1}" class="icon item">上一页</a>
                                <a th:href="@{/admin/tags(pageNum=${page.getPageNum()+1},pageSize=10)}" th:if="${page.getTotalPages()!=0&&page.getPageNum() != page.getTotalPages()}" class="icon item">下一页</a>
                            </div>
                            <a th:href="@{/admin/tags/input}" href="#" class="ui mini right floated teal basic button">新增</a>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

<!--    底部-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img th:src="@{/images/my_wx_image.png}" alt="" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list m-text-spaced">
                        <a href="#" class="item">list item</a>
                        <a href="#" class="item">list item</a>
                        <a href="#" class="item">list item</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list m-text-spaced">
                        <a href="#" class="item">list item</a>
                        <a href="#" class="item">list item</a>
                        <a href="#" class="item">list item</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <p class="m-text-thin m-text-spaced">啊上的铭文名称为佛i姐覅哦欸哦发窘姐偶分分解机哦分</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-spaced m-opacity-small">2020</p>
        </div>
    </footer>
</body>
<script th:src="@{/js/jquery-3.4.1.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.message .close')
        .on('click',function () {
            $(this).closest('.message').transition('fade');
        });
</script>
</html>