<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.mapper.BlogMapper">

    <insert id="addBlog" parameterType="Blog">
        insert into t_blog(title,content,firstPicture,flag,views,appreciation,shareStatement,commentAble,published,recommend,creatTime,updateTime,type_id,user_id)
        values (#{title},#{content},#{firstPicture},#{flag},#{views},#{appreciation},
        #{shareStatement},#{commentAble},#{published},#{recommend},#{creatTime},
        #{updateTime},#{typeId},#{userId})
    </insert>

<!--    <select id="getTag" parameterType="java.lang.Long" resultType="Tag">-->
<!--        select * from t_tag where id = #{id}-->
<!--    </select>-->

    <update id="updateBlog">
        update t_blog
        set
        title = #{blog.title},
        content=#{blog.content},
        firstPicture=#{blog.firstPicture},
        flag=#{blog.flag},
        views=#{blog.views},
        appreciation=#{blog.appreciation},
        shareStatement=#{blog.shareStatement},
        commentAble=#{blog.commentAble},
        published=#{blog.published},
        recommend=#{blog.recommend},
        creatTime=#{blog.creatTime},
        updateTime=#{blog.updateTime},
        type_id=#{blog.typeId},
        user_id=#{blog.userId}
        where id = #{id};
    </update>

    <resultMap id="blog" type="Blog">
        <result column="bid" property="id"/>
        <result column="btitle" property="title"/>
        <result column="bcontent" property="content"/>
        <result column="bfirstPicture" property="firstPicture"/>
        <result column="bflag" property="flag"/>
        <result column="bviews" property="views"/>
        <result column="bappreciation" property="appreciation"/>
        <result column="bshareStatement" property="shareStatement"/>
        <result column="bcommentAble" property="commentAble"/>
        <result column="bpublished" property="published"/>
        <result column="brecommend" property="recommend"/>
        <result column="bcreatTime" property="creatTime"/>
        <result column="bupdateTime" property="updateTime"/>
        <result column="btype_id" property="typeId"/>
        <result column="buser_id" property="userId"/>
        <association property="type" javaType="Type">
            <result column="tid" property="id"/>
            <result column="tname" property="name"/>
        </association>

    </resultMap>
    <select id="listBlog" parameterType="Blog" resultMap="blog">
        select
        b.id bid,
        b.title btitle,
        b.content bcontent,
        b.firstPicture bfirstPicture,
        b.flag bflag,
        b.views bviews,
        b.appreciation bappreciation,
        b.shareStatement bshareStatement,
        b.commentAble bcommentAble,
        b.published bpublished,
        b.recommend brecommend,
        b.creatTime bcreatTime,
        b.updateTime bupdateTime,
        b.type_id btype_id,
        b.user_id buser_id,
        t.name tname,
        t.id tid,

        u.id uid
        from t_blog b,t_type t,t_user u
        <where>
            b.type_id = t.id
            <if test="title != null">
                <bind name="pattern" value="'%' + title + '%'" />
                and b.title like #{pattern}
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}
            </if>
            <if test="recommend == true ">
                and b.recommend = #{recommend}
            </if>
        </where>
    </select>

    <select id="getBlogById" parameterType="java.lang.Long" resultType="Blog">
        select * from t_blog where id = #{id}
    </select>

    <delete id="delBlog" parameterType="java.lang.Long">
        delete from t_blog where id=#{id}
    </delete>
</mapper>